---
import BaseLayout from "../components/BaseLayout.astro";
---

<BaseLayout>
  <div
    class="bg-white rounded-lg shadow-lg p-8 max-w-lg text-center min-h-screen"
  >
    <a href="/">
      <img
        src="https://assets.zerma.com/25logo.png"
        alt="25 Years ZERMA Shanghai"
        class="w-32 mx-auto mb-6"
      />
    </a>
    <h1 class="text-2xl font-bold text-zermaBlue mb-4">
      Celebrating 25 Years of ZERMA Shanghai
    </h1>

    <!-- Date and Location Information -->
    <div class="text-center mb-10 border-y py-6 border-zermaBlue">
      <p class="text-lg text-gray-800 font-semibold">
        October 19th & 20th, 2024
      </p>
      <p class="text-lg text-gray-800 font-semibold">Shanghai, China</p>
    </div>
    <div class="text-gray-500 text-sm mb-6">More info coming soon</div>
    <!-- <a
      href="/rsvp"
      class="inline-block bg-blue-500 text-white px-6 py-2 rounded-md text-lg font-medium hover:bg-blue-600 transition"
      >Confirm Now</a
    > -->
  </div>
</BaseLayout>
